* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important
}

.pull-right {
    float: right;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}
 .col {
    padding-left: 8px;
    padding-right: 8px;
    float: left;
 }
 .col-half {
    width: 50%;
 }
 .col-third {
     width: calc(100% / 3);
 }

 .col-full {
     width: 100%;
 }
/* Main */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 46px;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav li {
    position: relative;
}

#nav > li {
    display: inline-block;
}

#nav li a {
    line-height: 46px;
    text-decoration: none;
    padding: 0 24px;
    display: block;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav > li:hover > a, 
#nav .subnav > li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a {
    padding: 0 12px;
    color: black;
    line-height: 38px;
    min-width: 160px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-angle-down {
    font-size: 14px;
}

/* Search icon */
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}


#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: black;
}  

#header .menu-icon, 
#header .search-icon {
    color: white;
    line-height: 46px;
    font-size: 20px;
}

/* SLIDER */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/chicago.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Segoe UI",Arial,sans-serif;
}

#slider .text-decription {
    font-size: 15px;
    font-weight: bolder;
    text-shadow: 0 0 1px black;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-heading {
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
}

#content .content-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

/* <!-- About section --> */
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
}


#content .member-name {
    font-size: 15px; 
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section  */
.tour-section {
    background-color: black;
}

.ticket-list {
    margin-top: 40px;
    background-color: white;
}

.ticket-list li {
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
    font-size: 15px;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
    border-radius: 50%;
}

/* Place */
.place-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-body {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.btn {
    color: white;
    background-color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: black;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
}

.btn:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}


/* Map section */
.map-section img {
    width: 100%;
} 

/* <!-- Contact section --> */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0,0,0,0.4);
}

#footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a {
    color: rgba(0,0,0,0.6);
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* modal */
.modal.open {
    display: flex;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    position: relative;
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFaceIn ease .5s;
}

.modal-header {
    background-color: #009688;
    font-size: 30px;
    height: 130px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    background-color: #ccc;
    color: black;
}

.modal-body {
    padding: 16px;
}

.model-label {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#buy-tickets {
    width: 100%;
    color: white;
    background: #009688;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 17px;
}

#buy-tickets:hover {
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding: 16px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

